<h1><%=@occupant.name%></h1>


<%= render 'tags/filter' %>

<h2>We Need:</h2>
<div class="filter">
  <h3 id="type-of-filter"></h3>
</div>

<div class="goods-container">

</div>


<%= render 'goods/form' %>
