<h2>We Need:</h2>
<% if @filter %>
  <%=@filter%><br><br>
<% end %>
<div class="goods-container">
<% @goods.each do |good|%>
  <div class="good" id="good-<%=good.id%>">
    <%= "#{good.name} - #{good.occupant.name}" %><br>
    <%= link_to "delete", good_path(good), method: :delete%>
  </div>
<% end %>
</div>
